In [ ]:
### Load the dataset

In [1]:
import pandas as pd
df=pd.read_excel("/content/Financial Sample.xlsx")

In [2]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

Is Segment associated with Country?

Is Product associated with Discount Band?

Does Country influence Discount Band selection?

Is Segment related to Product type?

Is Month associated with Discount Band?

Does Year influence Segment distribution?

Is Country associated with Product category?

Does Segment influence Discount strategy?

Is Product choice dependent on Country?

Is Discount Band related to Year?

Is there a relationship between Units Sold and Profit?

Does Sale Price impact Units Sold?

Is Manufacturing Price correlated with Profit?

Does Discount amount affect Sales revenue?

Is there a relationship between Gross Sales and Net Sales?

Does COGS influence Profit?

Is there a correlation between Discounts and Units Sold?

Does higher Sale Price reduce demand (Units Sold)?

Is Gross Sales proportional to Units Sold?

Does Manufacturing Price affect COGS?

Does Profit differ across Segments?

Is average Sales different across Countries?

Does Units Sold vary by Product type?

Is Profit different across Discount Bands?

Does Sales vary across Months?

Is average COGS different across Segments?

Does Profit vary across Years?

Is Units Sold different across Countries?

Does Gross Sales vary by Product category?

Is average Discount different across Segments?